<!doctype html>
<html lang="es">

<head>
  <title>Avimo Software</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
  

</head>

<body onload="consultaEstados(); consultaEstadosAval();">

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../static/uploads/{{current_user.Clave}}/{{current_user.Foto_Empleado}});"></a>
        <center>
          <p id="empleadoName">{{current_user.Rol}}</p>
        </center>
        <center>
          <p id="empleadoName">{{current_user.Nombre}} {{current_user.Apellidos}}</p>
        </center>

        <ul class="list-unstyled components mb-5">
          <!--Menu de Clientes-->
          <li>
            <a href="#clientesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
            <ul class="collapse list-unstyled" id="clientesSubmenu">
              <li>
                <a href="/clientes/registrocliente">Registro Cliente</a>
              </li>
              <li>
                <a href="/clientes/opcionesCliente/">Opciones Cliente</a>
              </li>
            </ul>
          </li>
          <!--Menu de prestamos-->
          <li>
            <a href="#prestamosSubmenu" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Credito</a>
            <ul class="collapse list-unstyled" id="prestamosSubmenu">
              {% if current_user.is_authenticated and current_user.Rol=="Jefe" or  current_user.Rol=="Asesor de Crédito" %}
              <li>
                <a href="/credito/registraCredito">Registro credito</a>
              </li>
              {% endif %}
              <li>
                <a href="/credito/opcionesCredito">Consulta credito</a>
              </li>
            </ul>
          </li>
          <!--Menu de Pagos-->
          <li>
            <a href="#pagosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pagos</a>
            <ul class="collapse list-unstyled" id="pagosSubmenu">
              <li>
                <a href="/Pago/ConsultaPagos">Opciones pagos</a>
              </li>
            </ul>
          </li>
          <li>
            {% if current_user.is_authenticated and current_user.Rol=="Jefe" %}
            <a href="#empleadosSubmenu" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Empledos</a>
            <ul class="collapse list-unstyled" id="empleadosSubmenu">
              <li>
                <a href="/empleados/registroempleado/">Registrar Empleado</a>
              </li>
              <li>
                <a href="/opcionesEmpleado/">Opciones Empleado</a>
              </li>
            </ul>
          </li>
          {% endif %}
          <li>
            <a href="/CerrarSesion">Cerrar Sesión</a>
          </li>
        </ul>

        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Avimo Software &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved.</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5" >

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Generar reporte</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Consulta historial</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!--Abajo de esto va tu código-->
              
                <h3 style="text-align: center;"><span class="badge badge-info">Consulta de Credito</span></h3><br>

                <!--Nueva Vista-->

                <div class="row">
                    <div class="form-group col-1"></div>
                    <div class="form-group col-2">
                        <label style="color: black;"><strong>ID Crédito</strong></label><br>
                        <label class="letra">{{credito.ID_Credito}}</label><!--Recuperar dato de Credito-->
                        <br><br>
                        <label style="color: black;"><strong>Monto</strong></label><br>
                        <label class="letra">{{credito.MontoPrestado}}</label><!--Recuperar dato de Credito-->
                        <br><br>
                        <label style="color: black;"><strong>Fecha De Inicio</strong></label><br>
                        <label class="letra">{{credito.Fecha_Inicio}}</label><!--Recuperar dato de Credito-->
                        <br><br>
                    </div>

                    <div class="form-group col-2">
                        <label style="color: black;"><strong>Cliente</strong></label><br>
                        <label class="letra">{{cliente.Nombre}} {{cliente.Apellidos}}</label><!--Recuperar dato de Credito-->
                        <br><br>
                        <label style="color: black;"><strong>Semanas</strong></label><br>
                        <label class="letra">{{credito.Semanas}}</label><!--Recuperar dato de Credito-->
                        <br><br>
                        <label style="color: black;"><strong>Fecha De Limite</strong></label><br>
                        <label class="letra">{{credito.Fecha_Limite}}</label><!--Recuperar dato de Credito-->
                        <br><br>
                    </div>

                    <div class="form-group col-3">
                        <label style="color: black;"><strong>Empleado Responsable</strong></label><br>
                        <label class="letra">{{empe.Nombre}} {{empe.Apellidos}}</label><!--Recuperar dato de Credito-->
                        <br><br>
                    </div>

                    <div class="form-group col-3">
                        <label style="color: black;"><strong>Estatus</strong></label><br>
                        <label class="letra">{{credito.Estatus}}</label><!--Recuperar dato de Credito-->
                        <br><br>
                        <label style="color: black;"><strong>Entrega de Crédito</strong></label><br>
                        <button style="border-color:aqua"><img src="../../static/images/Entrega_Credito.png" width="125"
                                height="125" class="img-thumbnail" data-toggle="modal" data-target="#myModal"></button>
                        <br><br>
                    </div>

                </div>
            
            <div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                data-target=".bd-example-modal-lg">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" style="text-align: center;">Entrega de Crédito:</h3>
                        </div>
                        <div class="modal-body"><img src="../../static/uploads/{{cliente.Clave}}/{{credito.Foto_EntregaCredito}}" class="img-rounded"
                                alt="Cinque Terre" width="770" height="500" /> </div> <!--Recuperar Foto Entrega de Credito de Credito-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

          </div>
            <!--Arriba de esto va tu código-->
        </div>
    </div>


    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/popper.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/main.js"></script>
    <script src="../../static/js/Empleados/consultaEmpleado.js"></script>
    <script src="../../static/css/style.css"></script>
</body>

</html>