<!doctype html>
<html lang="es">

<head>
  <title>Avimo Software</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">

</head>

<body onload="MostrarRegEmp(); consultaEstados();">

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../../static/images/logo.jpg);"></a>
        <center>
          <p id="empleadoName">Elon Reeve Musk</p>
        </center>
        <ul class="list-unstyled components mb-5">
          <!--Menu de Clientes-->
          <li>
            <a href="#clientesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
            <ul class="collapse list-unstyled" id="clientesSubmenu">
              <li>
                <a href="/clientes/registrocliente">Registro Cliente</a>
              </li>
              <li>
                <a href="/clientes/opcionesCliente/">Opciones Cliente</a>
              </li>
            </ul>
          </li>
          <!--Menu de prestamos-->
          <li>
            <a href="#prestamosSubmenu" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Credito</a>
            <ul class="collapse list-unstyled" id="prestamosSubmenu">
              <li>
                <a href="/credito/registraCredito">Registro credito</a>
              </li>
              <li>
                <a href="/credito/opcionesCredito">Consulta credito</a>
              </li>
            </ul>
          </li>
          <!--Menu de Pagos-->
          <li>
            <a href="#pagosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pagos</a>
            <ul class="collapse list-unstyled" id="pagosSubmenu">
              <li>
                <a href="/Pago/ConsultaPagos">Opciones pagos</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#empleadosSubmenu" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Empledos</a>
            <ul class="collapse list-unstyled" id="empleadosSubmenu">
              <li>
                <a href="/empleados/registroempleado/">Registrar Empleado</a>
              </li>
              <li>
                <a href="/opcionesEmpleado/">Opciones Empleado</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Cerrar Sesión</a>
          </li>
        </ul>

        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Avimo Software &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved.</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Generar reporte</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Consulta historial</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--Abajo de esto va tu código-->
      
      <form method="POST" action="/opcionesEmpleado/actualizar/" enctype="multipart/form-data">
        


        <div id="Reg_Empleado">
          <h3>Registro Empleado<span class="badge badge-secondary">New</span></h3>
          <div class="row">

            <div class="col">
              <label>ID</label>
              <input class="form-control" value="{{empleado.ID_Empleado}}" readonly type="text" name="idEmpleado" id="idEmpleado" required>
            </div>
            <div class="form-group col">
              <label for="Nombre">Nombre</label>
              <input class="form-control" type="text" value="{{empleado.Nombre}}" name="NombreEmp" id="NombreEmp" required>
            </div>

            <div class="form-group col">
              <label for="Apellidos">Apellidos</label>
              <input class="form-control" type="text" value="{{empleado.Apellidos}}" name="ApellidosEmp" id="ApellidosEmp" required>
            </div>

            <div class="form-group col">
              <label for="Estatus">Estatus</label>
              <select class="form-control" id="estatusAval" name="estatusAval" required>
                <option value="{{empleado.Estatus}}" selected>{{empleado.Estatus}}</option>
                <option>Activo</option>
                <option>Inactivo</option>
              </select>
            </div>

            <div class="form-group col">
              <label for="Genero">Genero</label>
              <select class="form-control" id="generoEmp" name="generoEmp" required>
                <option value="{{empleado.Sexo}}" selected>{{empleado.Sexo}}</option>
                <option>Masculino</option>
                <option>Femenino</option>
              </select>
            </div>

          </div>

          <div class="row">
            <div class="form-group col">
              <label form="Estado">Estado</label>
              <select class="form-control" id="estadoEmp" name="estadoEmp" onblur="consultarMunicipio()" required>
                <!-- Poner required -->
                <option value="{{empleado.Estado}}" selected>{{empleado.Estado}}</option>
              </select>
            </div>

            <div class="form-group col">
              <label form="Municipio">Municipio</label>
              <select class="form-control" id="municipioEmp" name="municipioEmp" onblur="consultarColonia()" required>
                <!-- Poner required -->
                <option value="{{empleado.Municipio}}" selected>{{empleado.Municipio}}</option>
              </select>
            </div>

            <div class="form-group col">
              <label form="Colonia">Colonia</label>
              <select class="form-control" id="coloniaEmp" name="coloniaEmp" onblur="desactivarColonia()" required>
                <!-- Poner required -->
                <option value="{{empleado.Colonia}}" selected>{{empleado.Colonia}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label for="calle1">Calle</label>
              <input class="form-control" value="{{empleado.CallePrincipal}}" type="text" name="calleEmp" id="calleEmp" required>
            </div>

            <div class="form-group col">
              <label form="ninterno">Numero interno</label>
              <input class="form-control" type="text" value="{{empleado.NumInterior}}" name="ninternoEmp" id="ninternoEmp" required>
            </div>

            <div class="form-group col">
              <label form="nexterno">Numero externo</label>
              <input class="form-control" type="text" value="{{empleado.NumExterior}}" name="nexternoEmp" id="nexternoEmp"
                 required>
            </div>

            <div class="form-group col">
              <label form="calle2">Entre calles</label>
              <input class="form-control" type="text" value="{{empleado.EntreCalles}}" name="entrecallesEmp" id="entrecallesEmp" required>
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label form="Telefono">Telefono</label>
              <input class="form-control" type="text" value="{{empleado.Telefono}}" name="telefonoEmp" id="telefonoEmp" maxlength="12"
                 required>
            </div>

            <div class="form-group col">
              <label form="CURP">CURP</label>
              <input class="form-control" type="text" value="{{empleado.CURP}}" name="curpEmp" id="curpEmp" maxlength="18" required>
            </div>
          </div>


          <div class="form-group row">
            <label form="fnacimientoEmp" class="col-2 col-form-label">Fecha de Nacimiento</label>
            <div class="col-10">
              <input class="form-control" type="date" value="{{empleado.Fecha_Nacimiento}}" name="fnacimientoEmp" id="fnacimientoEmp" required>
            </div>
          </div>



          <div class="form-group row">
            <label form="fingresoEmp" class="col-2 col-from-label">Fecha de Ingreso</label>
            <div class="col-10">
              <input class="form-control" type="date" value="{{empleado.Fecha_Contratacion}}" name="fingresoEmp" id="fingresoEmp" required>
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label form="fine1">Foto INE 1</label>
              <input class="form-control-file" type="file" name="fine1" id="fine1" onchange="ValidarArchivo(this)"
                required>
            </div>

            <div class="form-group col">
              <label form="fine2">Foto INE 2</label>
              <input class="form-control-file" type="file" name="fine2" id="fine2" onchange="ValidarArchivo(this)"
                required>
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label form="ComproDomi">Comprobante de Domicilio</label>
              <input class="form-control-file" type="file" name="ComproDomi" id="ComproDomi"
                onchange="ValidarArchivo(this)" required>
            </div>
            <div class="form-group col">
              <label form="ComproDomi">Foto de Empleado</label>
              <input class="form-control-file" type="file" name="fotoempe" id="fotoempe"
                onchange="ValidarArchivo(this)" required>
            </div>
          </div>

          <button class="btn btn-secondary" type="button" name="btnAsigRol" id="btnAsigRol" onclick="MostrarAsigRol();">Asignar Rol</button>
        </div>


        <div id="Asig_Rol">
          <h3>Asignación de Rol</h3>
          <div class="row">
            <div class="form-group col">
              <label form="Usuario"> Usuario</label>
              <div class="col-5">
                <input class="form-control" type="text" value="{{empleado.Usuario}}" name="Usuario" id="Usuario" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label form="Contraseña"> Contraseña</label>
              <div class="col-5">
                <input class="form-control" type="password" value="{{empleado.Contraseña}}" name="Contraseña" id="Contraseña1"   required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col">
              <label form="Contraseña">Repetir Contraseña</label>
              <div class="col-5">
                <input class="form-control" type="password" name="Contraseña2" value="{{empleado.Contraseña}}" id="Contraseña2"   required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-7">
              <label form="Rol">Rol Asignado</label>
              <select class="form-control" name="Rol" id="Rol" required>
                <option value="{{empleado.Rol}}" selected>{{empleado.Rol}}</option>
                <option value="Jefe">Jefe/Subjefe</option>
                <option value="Administrador">Administrador</option>
                <option value="Asesor de Credito">Asesor de Crédito</option>
              </select>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col">
              <button class="btn btn-secondary" type="button" name="btnRegresarEmp" id="btnRegresarEmp" onclick="MostrarRegEmp();">Regresar</button>
            </div>
            <div class="col">
              <button class="btn btn-secondary" type="button" name="btnRegresarEmp" id="btnComprobar" onclick="onFormSubmit()">Comprobar</button>
          <button class="btn btn-primary" type="submit" name="btnValidarEmpleado" id="btnValidarEmpleado" style="display: none;">Registrar Empleado</button>
            </div>
          </div>
        </div>

      </form>

      <!-- Modal -->
      <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="errorfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>



      <!--Arriba de esto va tu código-->
    </div>
  </div>
  </div>

  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/popper.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
  <script src="../../static/js/main.js"></script>
  <script src="../../static/js/Empleados/registroEmpleado.js"></script>
</body>

</html>