<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>Consulta De Clientes</title>
        <meta chartset="utf-8">
    </HEAD>
    <BODY>
        <main>
            <section>
                <form>
                    <div>
                        <label>Número De Cliente</label>
                            <input type="text" sixe="6"   placeholder="000000" name="NumCliente">
                        <button type="submit"><img src="./images/Search.png" alt="15"></button>
                    </div>
                </form>
            </section>
        </main>
    </BODY>
</HTML>