<!doctype html>
<html lang="en">
  <head>
  	<title>Avimo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Menu</span>
	        </button>
        </div>
	  		<h1><a href="Home.html" class="logo">AVIMO</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="../templates/RegistroClientes.html"><span ></span> Registrar Cliente</a>
          </li>
          <li>
              <a href="../templates/ConsultaClientes.html"><span ></span> Conculta Cliente</a>
          </li>
          <li>
            <a href="../templates/RegistroPrestamo.html"><span ></span> Registro Prestamo</a>
          </li>
          <li>
            <a href="../templates/ConsultaPrestamo.html"><span ></span> Consulta Prestamo</a>
          </li>
          <li>
            <a href="../templates/RegistroPago.html"><span ></span> Registro Pago</a>
          </li>
          <li>
            <a href="../templates/ConsultaPago.html"><span ></span> Consulta Pago</a>
          </li>
        </ul>
    	</nav>

        <!-- Contenido de la página  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Consulta Clientes Cliente</h2>
        <form method="GET"> 
            <div>
                <label>Número De Cliente</label>
                    <input type="text" size="2"  maxlength="6" name="NumCliente">
                <button type="submit"><img src="../images/Search.png" width="20" height="20"></button>
            </div>
            <br>
            <div align="center">
                <legend>Clientes</legend>
                <table border="1" bordercolor="#E9967A">
                    <thead>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Estatus</th>
                        
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jose Ramiréz Peréz</td>
                            <td>3511598754</td>
                            <td>Villa Olimpica tabachin 46 Zamora De Hidalgo,Michoacán</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>Ana Luisa Garibay Reyes</td>
                            <td>3542563899</td>
                            <td>Jardines Rosas 28 Los reyes De Salgado,Michoacán</td>
                            <td>Activo</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <button>Ver Datos Aval</button>
            </div>
            <br>
            <div>
                
                <table border="1"  align="center" bordercolor="#E9967A">
                    <tr>
                        <td>Nombre</td>
                        <td>Telefono</td>
                        <td>Direccion</td>
                    </tr>
                    <tbody>  
                        <tr>
                            <td>Jose Ramos Reyes</td>
                            <td>3514658221</td>
                            <td>Opeño Cuba 234 Jacona De Plancarte,Michoacán</td>
                        </tr>
                        <tr>
                            <td>Alonso Herrera Zapien</td>
                            <td>3518965544</td>
                            <td>Ejidal Sur Alamo 87 Zamora De Hidalgo,Michoacán</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form> 
          
      </div>
		</div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>