<Html>

<HEAD>

	 <title>Avimo</title>
	 <header>
            <center>
                <img src="../images/avimo.jpeg">
            </center>
        </header>
        <main>
            <section>
               <h1>Registro de Prestamos </h1>
               <form action="#" method="POST" enctype="text/plain">
                <div id="datosPrestamo">
                    <fieldset>
                        <legend>
                            Datos Prestamo
                        </legend>
                        <label>Id:</label>
                        <input type="text" placeholder="Numero del cliente" name="Numero" maxlength="100" required>
                        <br>
                        <label>montoPrestado $:</label>
                        <input type="text" placeholder="Cantidad" name="montoPrestado" maxlength="100" required>
                         <br>
                         <label>Semanas:</label>
                        <input type="text"name="Semanas" maxlength="100" required>
                         <br>
                         <label>FechaInicio:</label>
                         <input type="FechaInicio" name="FechaInicio" placeholder="DD/MM/AAAA" required>
                        <br>
                        <label>FechaLimite:</label>
                        <input type="FechaLimite" name="FechaLimite" placeholder="DD/MM/AAAA" required>
                        <br>
                        <label>FotoEntregaCredito:</label>
                        <input type="FotoEntregaCredito" name="FotoEntregaCredito" required>
                        
                        <br>
                        <button>Registrar</button>
                         <button>Cancelar </button>
                        
                    
                
    
    
</HTML>