<!doctype html>
<html lang="es">

<head>
  <title>Avimo Software</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body onload="consultaEstados()">

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../static/images/logo.jpg);"></a>
        <center>
          <p id="empleadoName">Elon Reeve Musk</p>
        </center>
        <ul class="list-unstyled components mb-5">
          <!--Menu de Clientes-->
          <li>
            <a href="#clientesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
            <ul class="collapse list-unstyled" id="clientesSubmenu">
              <li>
                <a href="#">Registro Cliente</a>
              </li>
              <li>
                <a href="#">Consulta Cliente</a>
              </li>
              <li>
                <a href="#">Opciones Cliente</a>
              </li>
            </ul>
          </li>
          <!--Menu de prestamos-->
          <li>
            <a href="#prestamosSubmenu" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Prestamos</a>
            <ul class="collapse list-unstyled" id="prestamosSubmenu">
              <li>
                <a href="#">Registro prestamo</a>
              </li>
              <li>
                <a href="#">Consulta prestamo</a>
              </li>
              <li>
                <a href="#">Opciones prestamo</a>
              </li>
            </ul>
          </li>
          <!--Menu de Pagos-->
          <li>
            <a href="#pagosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pagos</a>
            <ul class="collapse list-unstyled" id="pagosSubmenu">
              <li>
                <a href="#">Registrar pago</a>
              </li>
              <li>
                <a href="#">Consulta pago</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Cerrar Sesión</a>
          </li>
        </ul>

        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Avimo Software &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved.</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Generar reporte</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Consulta historial</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--Abajo de esto va tu código-->



      <!--Registra Cliente-->
      <h3>Registro Clientes <span class="badge badge-secondary">New</span></h3>
      <form>

        <div class="row">
          
          <div class="col">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre">
          </div>
         
          <div class="col">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" name="apellido" id="apellido">
          </div>
         
          <div class="col">
            <div class="form-group">
              <label for="genero">Genero</label>
              <select class="form-control" id="genero" name="genero">
                <option value="" disabled selected>Seleccione una opcion...</option>
                <option>Masculino</option>
                <option>Femenino</option>
                <option>Otro</option>
              </select>
            </div>
          </div>

        </div>
        <!--Estado Municipio Colonia (calle 1) (calle 2) (numero externo interno-->


        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="estado">Estado</label>
              <select class="form-control" id="estado" name="estado" onblur="consultarMunicipio()">
                <option value="" disabled selected>Seleccione un Estado...</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="municipio">Municipio</label>
              <select class="form-control" id="municipio" name="municipio" onblur="consultarColonia()">
                <option value="" disabled selected>Seleccione un Municipio...</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="colonia">Colonia</label>
              <select class="form-control" id="colonia" name="colonia" onblur="desactivarColonia()">
                <option value="" disabled selected>Seleccione una Colonia...</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="calle1">Calle 1</label>
            <input type="text" class="form-control" id="calle1" name="calle1">
          </div>
          <div class="col">
            <label for="calle2">Calle 2</label>
            <input type="text" class="form-control" id="calle2" name="calle2">
          </div>
          <div class="col">
            <label for="ninterno">Numero interno</label>
            <input type="text" class="form-control" id="ninterno" name="ninterno">
          </div>
          <div class="col">
            <label for="nexterno">Numero externo</label>
            <input type="text" class="form-control" id="nexterno" name="nexterno">
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input type="text" class="form-control" id="telefono" name="telefono" maxlength="13">
        </div>
        <div class="form-group">
          <label for="curp">Curp</label>
          <input type="text" class="form-control" id="curp" name="curp" maxlength="18">
        </div>
        <br>

        <div class="form-group row">
          <label for="fnacimiento" class="col-2 col-form-label">Fecha de Nacimiento</label>
          <div class="col-10">
            <input class="form-control" type="date" value="1990-01-01" id="fnacimiento" name="fnacimiento">
          </div>
        </div>

        <div class="form-group row">
          <label for="fregistro" class="col-2 col-form-label">Fecha de registro</label>
          <div class="col-10">
            <input class="form-control" type="datetime-local" value="2020-01-13T13:45:00" id="fregistro"
              name="fregistro">
          </div>
        </div>


        <div class="row">
          <div class="form-group col">
            <label for="file">Foto INE 1</label>
            <input type="file" class="form-control-file" id="file" onchange="ValidarArchivo(this);">
          </div>
          <div class="form-group col">
            <label for="file">Foto INE 2</label>
            <input type="file" class="form-control-file" id="file" onchange="ValidarArchivo(this);">
          </div>
          <div class="form-group col">
            <label for="file">Comprobante de domicilio</label>
            <input type="file" class="form-control-file" id="file" onchange="ValidarArchivo(this);">
          </div>
        </div>

        <button type="button" class="btn btn-primary" onclick="onFormSubmit()">Registrar Cliente</button>

      </form>

      <!--   <br><br>
       
      <h3>Consulta Cliente </h3>

      <form action="" method="get">

        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">ID</div>
          </div>
          <input type="text" class="form-control" maxlength="4" aria-label="Input group example" aria-describedby="btnGroupAddon">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
      </form>
      <br><br>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Genero</th>
            <th scope="col">Dirección</th>
            <th scope="col">Telefono</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Fecha de registro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Luis Adrian Morales Guzman</td>
            <td>Masculino</td>
            <td>Rinconada 5 #33 Progreso Nacional</td>
            <td>351-280-0928</td>
            <td>13-01-1998</td>
            <td>23-11-2020</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Luis Adrian Morales Guzman</td>
            <td>Masculino</td>
            <td>Rinconada 5 #33 Progreso Nacional</td>
            <td>351-280-0928</td>
            <td>13-01-1998</td>
            <td>23-11-2020</td>
          </tr>
        </tbody>
      </table>
    -->

      <!--Elimina Cliente
       <br>
       <h3>Eliminar Cliente</h3>

       <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon">ID</div>
        </div>
        <input type="text" class="form-control" maxlength="4" aria-label="Input group example" aria-describedby="btnGroupAddon">
        <button type="submit" class="btn btn-primary">Buscar</button>
       
      </div>
      
      <br>
    



      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger btn-lg btn-block">Eliminar</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Advertencia!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿ Esta seguro de que quiere eliminar el registro ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger">Si</button>
      </div>
    </div>
  </div>
</div>-->




      <!--Arriba de esto va tu código-->
    </div>
  </div>
  </div>

  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/registroCliente.js"></script>
</body>

</html>