<!doctype html>
<html lang="es">

<head>
  <title>Avimo Software</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../static/images/logo.jpg);"></a>
        <center>
          <p id="empleadoName">Elon Reeve Musk</p>
        </center>
        <ul class="list-unstyled components mb-5">
          <!--Menu de Clientes-->
          <li>
            <a href="#clientesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
            <ul class="collapse list-unstyled" id="clientesSubmenu">
              <li>
                <a href="../templates/registroClientes.html">Registro Cliente</a>
              </li>
              <li>
                <a href="../templates/consultaCliente.html">Consulta Cliente</a>
              </li>
              <li>
                <a href="../templates/opcionesCliente.html">Opciones Cliente</a>
              </li>
            </ul>
          </li>
          <!--Menu de Crédito-->
          <li>
            <a href="#creditoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Crédito</a>
            <ul class="collapse list-unstyled" id="creditoSubmenu">
              <li>
                <a href="../templates/registroCredito.html">Registro Crédito</a>
              </li>
              <li>
                <a href="../templates/consultaCredito.html">Consulta Crédito</a>
              </li>
              <li>
                <a href="../templates/opcionesCredito.html">Opciones Crédito</a>
              </li>
            </ul>
          </li>
          <!--Menu de Pagos-->
          <li>
            <a href="#pagosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pagos</a>
            <ul class="collapse list-unstyled" id="pagosSubmenu">
              <li>
                <a href="../templates/registroPago.html">Registrar Pago</a>
              </li>
              <li>
                <a href="../templates/consultaPago.html">Consulta Pago</a>
              </li>
              <li>
                <a href="..//templates/opcionesPago.html">Opciones Pago</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Cerrar Sesión</a>
          </li>
        </ul>

        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Avimo Software &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved.</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Generar reporte</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Consulta historial</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--Abajo de esto va tu código-->

      <!--Registro Pago-->
      <h3>Registro Pago<span class="badge badge-secondary">New</span></h3>
      <form>

        <div class="row">

          <div class="input-group col">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon">ID Cliente</div>
            </div>
            <input type="text" class="form-control" maxlength="4" aria-label="Input group example"
              aria-describedby="btnGroupAddon">

          </div>

          <div class="input-group col">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon">ID Crédito</div>
            </div>
            <input type="text" class="form-control" maxlength="4" aria-label="Input group example"
              aria-describedby="btnGroupAddon">

          </div>

        </div>

        <div class="row">
          <div class="form-group col">
            <label for="Monto">Monto</label>
            <input type="text" class="form-control" name="Monto" id="Monto">
          </div>

          <div class="col">

            <div class="form-group">
              <label for="Semanas">Semana</label>
              <select class="form-control" id="Semanas" name="Semanas">
                <option value="" disabled selected>Seleccione Semana</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>


              </select>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col">
            <div class="form-group ">
              <label for="Fch_Pago">Fecha de Pago</label>
              <input class="form-control" type="datetime-local" value="0000-00-00T00:00:00" id="Fch_Pago"
                name="Fch_Pago">
            </div>
          </div>

          <div class="form-group col">
            <label for="file">Foto de Comprobante</label>
            <input type="file" class="form-control-file" id="file">
          </div>



        </div>

        <button type="button" class="btn btn-primary" onclick="onFormSubmit()">Registrar Pago</button>
      </form>
      <!--Arriba de esto va tu código-->
    </div>
  </div>
  </div>

  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/registroCliente.js"></script>
</body>

</html>