<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>Registro De Clientes</title>
        <meta chartset="utf-8">
    </HEAD>
    <BODY>
        <main>
          <section>
             <form>
                 
                 <div id="RegCliente">
                    <fieldset>
                        <label>Nombre Completo:</label>
                            <input type="text" size="50" placeholder="ApellidoPaterno ApellidoMaterno Nombre(S)" name="NomCliente"  required>
                        <label>Sexo:</label>
                            <select name="Sexo"> 
                                <option>Masculino</option>
                                <option>Femenino</option>
                                <option selected>Otro</option>
                            </select>
                        <br>
                        <label>Telefono:</label>
                        <input type="tel"  name="TelCLIENTE" id="TelefCliente" required>
                        <label>Fotografía Cliente</label>
                        <label>Direccion:</label>
                            <input type="text" placeholder="" name="DirCliente" required>
                        <br>
                        <label>CURP</label>
                            <input type="text" size="18" placeholder="18 Digitos Completos" name="CURP" required>
                        <label>Fecha De Nacimiento</label>
                        <br>
                        <label>Fecha De Registro </label>
                        <br>
                        <label>Fotografía INE DELANTERA</label>
                        <label>Fotografía INE TRASERA</label>
                        <br>
                        <label>Comprobante Dimicilio</label>
                        <br>
                        <button>Seguir</button>
                    </fieldset>
                 </div>
                 <div id="RegAval">
                     <fieldset>
                         <button>Atras</button>
                         <br>
                         <label>Nombre AVAL:</label>
                            <input type="text" name="NomAval" required>
                        <label>Telefono De AVAL:</label>
                            <input type="tel" name="TelAVAL" id="TelefAval" required>
                        <br>
                        <label>Dirección:</label>
                        <br>
                        <label>Fotografía INE DELANTERA</label>
                        <label>Fotografía INE TRASERA</label>
                        <br>
                        <label>Comprobante DE Domicilio</label>
                            <input type="text" name="DirAval" required>
                        <br>
                        <button>Finalizar</button>
                     </fieldset>
                 </div>
             </form> 
          </section>  
        </main>
    </BODY>
</HTML>