<!doctype html>
<html lang="en">
  <head>
  	<title>Avimo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Menu</span>
	        </button>
        </div>
	  		<h1><a href="index.html" class="logo">AVIMO</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="../templates/RegistroClientes.html"><span ></span> Registrar Cliente</a>
          </li>
          <li>
              <a href="../templates/ConsultaClientes.html"><span ></span> Conculta Cliente</a>
          </li>
          <li>
            <a href="../templates/RegistroPrestamo.html"><span ></span> Registro Prestamo</a>
          </li>
          <li>
            <a href="../templates/ConsultaPrestamo.html"><span ></span> Consulta Prestamo</a>
          </li>
          <li>
            <a href="../templates/RegistroPago.html"><span ></span> Registro Pago</a>
          </li>
          <li>
            <a href="../templates/ConsultaPago.html"><span ></span> Consulta Pago</a>
          </li>
        </ul>
    	</nav>

        <!-- Contenido de la página  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Registrar Cliente</h2>
        <form method="POST">
                 
            <div id="RegCliente">
               <fieldset>
                   <label>Nombre Completo:</label>
                       <input type="text" size="50" placeholder="ApellidoPaterno ApellidoMaterno Nombre(S)" name="NomCliente"  required>
                   <label>Sexo:</label>
                       <select name="Sexo"> 
                           <option>Masculino</option>
                           <option>Femenino</option>
                           <option selected>Otro</option>
                       </select>
                   <br>
                   <label>Telefono:</label>
                   <input type="tel"  name="TelCLIENTE" id="TelefCliente" required>
                   <label>Fotografía Cliente</label>
                   <label>Direccion:</label>
                       <input type="text" placeholder="" name="DirCliente" required>
                   <br>
                   <label>CURP</label>
                       <input type="text" size="18" placeholder="18 Digitos Completos" name="CURP" required>
                   <label>Fecha De Nacimiento</label>
                   <br>
                   <label>Fecha De Registro </label>
                   <br>
                   <label>Fotografía INE DELANTERA</label>
                   <label>Fotografía INE TRASERA</label>
                   <br>
                   <label>Comprobante Dimicilio</label>
                   <br>
                   <button>Seguir</button>
               </fieldset>
            </div>
            <div id="RegAval">
                <fieldset>
                    <button>Atras</button>
                    <br>
                    <label>Nombre AVAL:</label>
                       <input type="text" name="NomAval" required>
                   <label>Telefono De AVAL:</label>
                       <input type="tel" name="TelAVAL" id="TelefAval" required>
                   <br>
                   <label>Dirección:</label>
                   <br>
                   <label>Fotografía INE DELANTERA</label>
                   <label>Fotografía INE TRASERA</label>
                   <br>
                   <label>Comprobante DE Domicilio</label>
                       <input type="text" name="DirAval" required>
                   <br>
                   <button>Finalizar</button>
                </fieldset>
            </div>
        </form> 
          
      </div>
		</div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>