<!doctype html>
<html lang="es">

<head>
  <title>Avimo Software</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../static/css/style.css">

</head>

<body onload="OcultarTodo();">

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../../static/images/logo.jpg);"></a>
        <center>
          <p id="empleadoName">Elon Reeve Musk</p>
        </center>
        <ul class="list-unstyled components mb-5">
          <!--Menu de Clientes-->
          <li>
            <a href="#clientesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
            <ul class="collapse list-unstyled" id="clientesSubmenu">
              <li>
                <a href="../templates/registroClientes.html">Registro Cliente</a>
              </li>
              <li>
                <a href="../templates/consultaCliente.html">Consulta Cliente</a>
              </li>
              <li>
                <a href="../templates/opcionesCliente.html">Opciones Cliente</a>
              </li>
            </ul>
          </li>
          <!--Menu de prestamos-->
          <li>
            <a href="#prestamosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Credito</a>
            <ul class="collapse list-unstyled" id="prestamosSubmenu">
              <li>
                <a href="../templates/registroCredito.html">Registro Credito</a>
              </li>
              <li>
                <a href="../templates/consultaCredito.html">Consulta Credito</a>
              </li>
              <li>
                <a href="../templates/opcionesCredito.html">Opciones Credito</a>
              </li>
            </ul>
          </li>
          <!--Menu de Pagos-->
          <li>
            <a href="#pagosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pagos</a>
            <ul class="collapse list-unstyled" id="pagosSubmenu">
              <li>
                <a href="../templates/registroPago.html">Registrar pago</a>
              </li>
              <li>
                <a href="../templates/consultaPago.html">Consulta pago</a>
              </li>
            </ul>
          </li>
          <!--Menu de Empleados-->
          <li>
            <a href="#empleadosSubmenu" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Empledos</a>
            <ul class="collapse list-unstyled" id="empleadosSubmenu">
              <li>
                <a href="#">Registrar Empleado</a>
              </li>
              <li>
                <a href="#">Consulta Empleado</a>
              </li>
              <li>
                <a href="#">Opciones Empleado</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Cerrar Sesión</a>
          </li>
        </ul>

        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Avimo Software &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved.</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Generar reporte</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Consulta historial</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--Abajo de esto va tu código-->


      <h3>Consulta Cliente</h3>

      <form action="" method="get">

        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">Clave</div>
          </div>
          <input type="text" class="form-control" aria-label="Input group example" aria-describedby="btnGroupAddon">
          <button type="button" class="btn btn-primary" onclick="MostrarTodo();">Buscar</button>
        </div>
        <br><br>

        <div id="DatosTotales">
          <div id="DatosCliente" class="fluid">
            <h3><span class="badge badge-info" style="text-align: center">Datos Cliente</span></h3>
            <div class="row">
              <div class="col-form-label">
                <img src="../../static/images/fotoEmpleado.jpg" width="200" height="200" class="img-thumbnail">
              </div>

              <div class="col-form-label">
                <tr><strong>ID:</strong></tr><br>
                <tr><strong>Nombre Completo:</strong></tr><br>
                <label><strong>Sexo :</strong></label><br>
                <label><strong>Domicilio :</strong></label><br>
                <label><strong>Telefono :</strong></label><br>
                <label><strong>Fecha de Ingreso:</strong></label><br>
                <label><strong>Estatus :</strong></label><br>
              </div>
              &nbsp; &nbsp;
              <div class="col-form-label">
                <input type="text" id="ID" class="sinBorde"  value="AJHSJDHSJHDJ" disabled><br>
                <input type="text" id="NCompleto" class="sinBorde" value="Sarmiento Avila Geovanni" disabled><br>
                <input type="text" id="Sexo" class="sinBorde" disabled><br>
                <input type="text" id="Domicilio" class="sinBorde" disabled><br>
                <input type="text" id="Telefono" class="sinBorde" disabled><br>
                <input type="text" id="Fch_Ingreso" class="sinBorde" disabled><br>
                <input type="text" id="Estatus" class="sinBorde" disabled><br>
              </div>
              &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
              <div class="col-form-label">

                <label><strong>CURP :</strong></label><br>
                <label><strong>Fecha de Nacimiento :</strong></label><br>
                <label><strong>Foto INE Delantera :</strong></label><br>
                <label><strong>Foto INE Trasera :</strong></label><br>
                <label><strong>Comprobante de Domicilio :</strong></label><br>
              </div>
              &nbsp; &nbsp;
              <div class="col-form-label">

                <input type="text" id="CURP" class="sinBorde" disabled><br>
                <input type="text" id="Fch_Nacimiento" class="sinBorde" disabled><br>
                <input type="text" id="Fine_Dela" class="sinBorde" disabled><br>
                <input type="text" id="Fine_Tras" class="sinBorde" disabled><br>
                <input type="text" id="Compro_Domicilio" class="sinBorde" disabled><br>


              </div>

            </div>
          </div>
          <br><br>
          <div id="Datos_Aval_Cliente" class="fluid">
            <h3><span class="badge badge-info" style="text-align: center">Datos Aval</span></h3>
            <div class="row">

              <div class="col-form-label">
                <img src="../../static/images/Cliente_Aval.png" width="200" height="200" class="img-thumbnail">
              </div>
              <div class="col-form-label">
                <label><strong>Nombre :</strong></label><br>
                <label><strong>Domicilio :</strong></label><br>
                <label><strong>Telefono :</strong></label><br>
              </div>
              &nbsp; &nbsp;
              <div class="col-form-label">
                <input class="sinBorde" disabled><br>
                <input class="sinBorde" disabled><br>
                <input class="sinBorde" disabled><br>
              </div>
              &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
              <div class="col-form-label">
                <label><strong>Foto INE Delantera :</strong></label><br>
                <label><strong>Foto INE Trasera :</strong></label><br>
                <label><strong>Comprobante de Domicilio :</strong></label><br>
              </div>
              &nbsp; &nbsp;
              <div class="col-form-label">
                <input class="sinBorde" disabled><br>
                <input class="sinBorde" disabled><br>
                <input class="sinBorde" disabled><br>
              </div>

            </div>
          </div>

        </div>


      </form>






      <!--Arriba de esto va tu código-->
    </div>
  </div>
  </div>
  <script> 
  function MostrarTodo() {
      document.getElementById("DatosTotales").style.display="block"
    } 
  function OcultarTodo(){
      document.getElementById("DatosTotales").style.display="none"
  }
  </script>
  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/popper.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
  <script src="../../static/js/main.js"></script>
</body>

</html>