<!doctype html>
<html lang="es">

<head>
  <title>Avimo Software</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
  

</head>

<body onload="consultaEstados(); consultaEstadosAval();">

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../../static/images/logo.jpg);"></a>
        <center>
          <p id="empleadoName">Elon Reeve Musk</p>
        </center>
        <ul class="list-unstyled components mb-5">
          <!--Menu de Clientes-->
          <li>
            <a href="#clientesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
            <ul class="collapse list-unstyled" id="clientesSubmenu">
              <li>
                <a href="/clientes/registrocliente">Registro Cliente</a>
              </li>
              <li>
                <a href="/clientes/opcionesCliente/">Opciones Cliente</a>
              </li>
            </ul>
          </li>
          <!--Menu de prestamos-->
          <li>
            <a href="#prestamosSubmenu" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Credito</a>
            <ul class="collapse list-unstyled" id="prestamosSubmenu">
              <li>
                <a href="/credito/registraCredito">Registro credito</a>
              </li>
              <li>
                <a href="/credito/opcionesCredito">Consulta credito</a>
              </li>
            </ul>
          </li>
          <!--Menu de Pagos-->
          <li>
            <a href="#pagosSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pagos</a>
            <ul class="collapse list-unstyled" id="pagosSubmenu">
              <li>
                <a href="/Pago/ConsultaPagos">Opciones pagos</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#empleadosSubmenu" data-toggle="collapse" aria-expanded="false"
              class="dropdown-toggle">Empledos</a>
            <ul class="collapse list-unstyled" id="empleadosSubmenu">
              <li>
                <a href="/empleados/registroempleado/">Registrar Empleado</a>
              </li>
              <li>
                <a href="/opcionesEmpleado/">Opciones Empleado</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Cerrar Sesión</a>
          </li>
        </ul>

        <div class="footer">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Avimo Software &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved.</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Generar reporte</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Consulta historial</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--Abajo de esto va tu código-->


      <div>
        
        <form method="POST" action="/opcionesCliente/actualizar/" enctype="multipart/form-data">

        <div id="divRCliente">
      
          <h3>Modificar Clientes <span class="badge badge-secondary">New</span></h3>
          
          
            <div class="row">

              <div class="col">
                <label for="nombre">ID</label>
                <input type="text" class="form-control"  value="{{cliente.ID_Cliente}}" readonly name="idCliente" id="idCliente" required>

              </div>
              
              <div class="col">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" value="{{cliente.Nombre}}" name="nombreCliente" id="nombreCliente" required>
              </div>
             
              <div class="col">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" value="{{cliente.Apellidos}}" name="apellidoCliente" id="apellidoCliente" required>
              </div>
             
              <div class="col">
                <div class="form-group">
                  <label>Genero</label>
                  <select class="form-control" id="generoCliente" name="generoCliente" required>
                    <option value="{{cliente.Genero}}" selected>{{cliente.Genero}}</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                  </select>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label>Estatus</label>
                  <select class="form-control" id="estatusCliente" name="estatusCliente" required>
                    <option value="{{cliente.Estatus}}" selected>{{cliente.Estatus}}</option>
                    <option>Activo</option>
                    <option>Inactivo</option>
                  </select>
                </div>
              </div>
    
            </div>
           
    
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="estado">Estado</label>
                  <select class="form-control" id="estadoCliente" name="estadoCliente" onblur="consultarMunicipio()" required>
                    <option value="{{cliente.Estado}}" selected>{{cliente.Estado}}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="municipio">Municipio</label>
                  <select class="form-control" id="municipioCliente" name="municipioCliente" onblur="consultarColonia()" required>
                    <option value="{{cliente.Municipio}}" selected>{{cliente.Municipio}}</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="colonia">Colonia</label>
                  <select class="form-control" id="coloniaCliente" name="coloniaCliente" onblur="desactivarColonia()" required>
                    <option value="{{cliente.Colonia}}" selected>{{cliente.Colonia}}</option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <label for="calle1">Calle</label>
                <input type="text" class="form-control" value="{{cliente.CallePrincipal}}" id="calleCliente" name="calleCliente" required>
                
              </div>
              <div class="col">
                <label for="ninterno">Numero interno</label>
                <input type="text" class="form-control" id="ninternoCliente" value="{{cliente.NumInterior}}" name="ninternoCliente" required>
              </div>
              <div class="col">
                <label for="nexterno">Numero externo</label>
                <input type="text" class="form-control" id="nexternoCliente" value="{{cliente.NumExterior}}" name="nexternoCliente" >
              </div>
              <div class="col">
                <label for="calle2">Entre calles</label>
                <input type="text" class="form-control" id="entrecallesCliente" value="{{cliente.EntreCalles}}" name="entrecallesCliente" required>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label for="telefono">Telefono</label>
              <input type="text" class="form-control" value="{{cliente.Telefono}}" id="telefonoCliente" name="telefonoCliente" maxlength="13" required >
              
            </div>
            <div class="form-group">
              <label for="curp">Curp</label>
              <input type="text" class="form-control" readonly value="{{cliente.CURP}}" id="curpCliente" name="curpCliente" maxlength="18" required >
            </div>
            <br>
    
            <div class="form-group row">
              <label for="fnacimiento" class="col-2 col-form-label">Fecha de Nacimiento</label>
              <div class="col-10">
                <input class="form-control" type="date"  value="{{cliente.Fecha_Nacimiento}}" id="fnacimientoCliente" name="fnacimientoCliente" required>
              </div>
            </div>
    
            <div class="form-group row">
              <label for="fregistro" class="col-2 col-form-label">Fecha de registro</label>
              <div class="col-10">
                <input class="form-control" type="date"  value="{{cliente.Fecha_Registro}}" id="fregistroCliente"
                  name="fregistroCliente" required>
              </div>
            </div>
    

            
            <button type="button" class="btn btn-primary" id="btnSiguiente" onclick="validarDatosClientes()">Siguiente</button>
       
        
        </div>
      
        <br>

        <div id=divRAval style="display: none;">

          <h3>Modificar Aval <span class="badge badge-secondary">New</span></h3>
    
          <div class="row">

            <div class="col">
              <label for="nombre">ID</label>
              <input type="text" class="form-control" value="{{aval.ID_Aval}}" readonly name="idAval" id="idAval" required>
            </div>
            
            <div class="col">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" value="{{aval.Nombre}}" name="nombreAval" id="nombreAval" required>
            </div>
           
            <div class="col">
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" value="{{aval.Apellidos}}" name="apellidoAval" id="apellidoAval" required>
            </div>
          
          </div>
         
          <br>
  
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="estado">Estado</label>
                <select class="form-control" id="estadoAval" name="estadoAval" onblur="consultarMunicipioAval()" required>
                  <option value="{{aval.Estado}}" selected>{{aval.Estado}}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="municipio">Municipio</label>
                <select class="form-control" id="municipioAval" name="municipioAval" onblur="consultarColoniaAval()" required>
                  <option value="{{aval.Municipio}}" selected>{{aval.Municipio}}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="colonia">Colonia</label>
                <select class="form-control" id="coloniaAval" name="coloniaAval" onblur="desactivarColoniaAval()" required>
                  <option value="{{aval.Colonia}}" selected>{{aval.Colonia}}</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="calle1">Calle</label>
              <input type="text" class="form-control" value="{{aval.CallePrincipal}}" id="calleAval" name="calleAval" required>
              
            </div>
            <div class="col">
              <label for="ninterno">Numero interno</label>
              <input type="text" class="form-control" id="ninternoAval" value="{{aval.NumInterior}}" name="ninternoAval" required>
            </div>
            <div class="col">
              <label for="nexterno">Numero externo</label>
              <input type="text" class="form-control" id="nexternoAval" value="{{aval.NumExterior}}" name="nexternoAval" >
            </div>
            <div class="col">
              <label for="calle2">Entre calles</label>
              <input type="text" class="form-control" id="entrecallesAval" value="{{aval.EntreCalles}}" name="entrecallesAval" required>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="text" class="form-control" id="telefonoAval" value="{{aval.Telefono}}" name="telefonoAval" maxlength="13" required >
            
          </div>

          <br>
  
  
          <div class="row">

          </div>
          <button type="button" class="btn btn-primary" id="btnComprobar" onclick="validarDatosAval()">Comprobar</button>
        </div>


        
        <button type="submit" class="btn btn-primary" id="btnRegistrar" onclick="datosListosDB()" style="display: none;" >Registrar</button>
        </form>
      
      </div>









      <!--Aqui va mi modal para cuando hay un error-->

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="errorfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


      <!--Arriba de esto va tu código-->
    </div>
  </div>
  </div>

  
  <script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/popper.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
  <script src="../../static/js/main.js"></script>
  <script src="../../static/js/Clientes/modificarCliente.js"></script>
</body>

</html>